# Kunskapskontroll SQL (Maryam Hult Nikpour)

## Teoretiska Frågor

1. Beskriv kort hur en relationsdatabas fungerar.

I en relationsdatabas lagras all data i tabeller (med rader och kolumner). Med hjälp av primär- och främmande nycklar (primary och foreign keys) är det möjligt att koppla kolumner från olika tabeller för att skapa nya tabeller eller visa data på ett sammanhängande sätt.
                                


2. Vad menas med “CRUD”-flödet?

Create: Lägga till eller infoga nya data i en SQL-tabell.

Read: Hämta och visa data från databasen.

Update: Ändra eller uppdatera befintliga data.

Delete: Ta bort data från databasen.
                               

3. Beskriv kort vad en “left join” och en “inner join” är. Varför använder man det?

Inner Join och Left Join är två metoder för att kombinera kolumner från olika tabeller. Använder vi 'Inner Join' hämtas endast rader med matchande värden. För 'Left Join' inkluderas alla rader från den vänstra tabellen, även om det saknas matchande värden i den högra tabellen. Tomma rader i den högra tabellen fylls med NULL.

4. Beskriv kort vad indexering i SQL innebär.

Indexering i SQL innebär att skapa en struktur (index) som förbättrar hastigheten på databasens sökningar genom att snabbt kunna hämta specifika rader utan att behöva skanna hela tabellen.


5. Beskriv kort vad en vy i SQL är.

Vi kan skriva en fråga i SQL som lagrar resultat i en tabell som kallas en vy. Detta gör att vi enkelt kan komma åt data i framtiden, vilket sparar tid genom att inte behöva återskapa komplexa frågor. Vyer är skrivskyddade, vilket gör dem enkla att dela och säkerställer datakonsistens.



6. Beskriv kort vad en lagrad procedur i SQL är

En lagrad procedur i SQL är en uppsättning förskrivna SQL-satser som utför en specifik uppgift. Den är liknande funktioner i programmeringsspråk som Python, där en block av kod definieras en gång och kan återanvändas flera gånger.

## Programmeringsuppgift

### Scenario  
Du har precis börjat arbeta som dataanalytiker på ett företag där ni har en databas som
heter AdventureWorks2022. När man börjar på ett nytt företag så behöver man bekanta
sig med datan som finns. Du har tre uppgifter.

Before starting, I need to import the necessary libraries, including SQLAlchemy (which facilitates communication between Python and the database), Pandas (for data analysis), Plotly Express (for data visualization) and scipy.stats (for statistical analysis).

In [389]:
from sqlalchemy import create_engine, URL, inspect  # to connect to a database, inspect it, and work with it
import pandas as pd
import plotly.express as px
import scipy.stats as stats

To specify how and where to connect to the database, I need to create an engine:

In [387]:
SERVER = 'localhost'  
DATABASE = 'AdventureWorks2022'  # our database
connection_string = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={SERVER};DATABASE={DATABASE};Trusted_Connection=yes;Encrypt=no'
connection_url = URL.create('mssql+pyodbc', query={'odbc_connect': connection_string})
engine = create_engine(connection_url)

To establish a connection between our database ('AdventureWorks2022') and Python, a connection is created:

In [341]:
connection = engine.connect()

### Fråga 1. Ge en deskriptiv sammanfattning över databasen AdventureWorks2022.

First, I need to familiarize myself with the database and understand its schema:

In [342]:
inspector = inspect(engine)
schemas = inspector.get_schema_names() # get all schema names  
for schema in schemas:
    print(schema)

db_accessadmin
db_backupoperator
db_datareader
db_datawriter
db_ddladmin
db_denydatareader
db_denydatawriter
db_owner
db_securityadmin
dbo
guest
HumanResources
INFORMATION_SCHEMA
Person
Production
Purchasing
Sales
sys

The above list shows all schema names in our database, including system-defined schemas. However, I am only interested in the following schemas: 'HumanResources', 'Person', 'Production', 'Purchasing', and 'Sales' and thier related tables:

In [343]:
favorite_schemas = {'HumanResources', 'Person', 'Production', 'Purchasing', 'Sales'}
for schema in favorite_schemas:
    tables = inspector.get_table_names(schema=schema)
    table_count = len(tables)  # Count the number of tables
    print(f"Schema: {schema}, Number of Tables: {table_count}")
    print(tables)
    print()

Schema: HumanResources, Number of Tables: 6
['Department', 'Employee', 'EmployeeDepartmentHistory', 'EmployeePayHistory', 'JobCandidate', 'Shift']

Schema: Person, Number of Tables: 13
['Address', 'AddressType', 'BusinessEntity', 'BusinessEntityAddress', 'BusinessEntityContact', 'ContactType', 'CountryRegion', 'EmailAddress', 'Password', 'Person', 'PersonPhone', 'PhoneNumberType', 'StateProvince']

Schema: Sales, Number of Tables: 20
['CountryRegionCurrency', 'CreditCard', 'Currency', 'CurrencyRate', 'Customer', 'MontyPython', 'PersonCreditCard', 'SalesOrderDetail', 'SalesOrderHeader', 'SalesOrderHeaderSalesReason', 'SalesPerson', 'SalesPersonQuotaHistory', 'SalesReason', 'SalesTaxRate', 'SalesTerritory', 'SalesTerritoryHistory', 'ShoppingCartItem', 'SpecialOffer', 'SpecialOfferProduct', 'Store']

Schema: Purchasing, Number of Tables: 5
['ProductVendor', 'PurchaseOrderDetail', 'PurchaseOrderHeader', 'ShipMethod', 'Vendor']

Schema: Production, Number of Tables: 25
['BillOfMaterials', 'Culture', 'Document', 'Illustration', 'Location', 'Product', 'ProductCategory', 'ProductCostHistory', 'ProductDescription', 'ProductDocument', 'ProductInventory', 'ProductListPriceHistory', 'ProductModel', 'ProductModelIllustration', 'ProductModelProductDescriptionCulture', 'ProductPhoto', 'ProductProductPhoto', 'ProductReview', 'ProductSubcategory', 'ScrapReason', 'TransactionHistory', 'TransactionHistoryArchive', 'UnitMeasure', 'WorkOrder', 'WorkOrderRouting']

Next, I list all the available table columns in the 5 favorite schemas. In addition to the column names and their count, we can also see the data type of each column.

In [344]:
for schema in favorite_schemas:
    tables = inspector.get_table_names(schema=schema)
    for table in tables:
        columns = inspector.get_columns(table, schema=schema)
        column_count = len(columns)  # Count the number of tables
        print()
        print(f"Schema: {schema}, Table: {table}, Number of Columns: {column_count}" )
        for col in columns:
            print(f"  Column: {col['name']} ({col['type']})")

Schema: HumanResources, Table: Department, Number of Columns: 4
  Column: DepartmentID (SMALLINT)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: GroupName (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: HumanResources, Table: Employee, Number of Columns: 16
  Column: BusinessEntityID (INTEGER)
  Column: NationalIDNumber (NVARCHAR(15) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: LoginID (NVARCHAR(256) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: OrganizationNode (NULL)
  Column: OrganizationLevel (SMALLINT)
  Column: JobTitle (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: BirthDate (DATE)
  Column: MaritalStatus (NCHAR(1) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Gender (NCHAR(1) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: HireDate (DATE)
  Column: SalariedFlag (BIT)
  Column: VacationHours (SMALLINT)
  Column: SickLeaveHours (SMALLINT)
  Column: CurrentFlag (BIT)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: HumanResources, Table: EmployeeDepartmentHistory, Number of Columns: 6
  Column: BusinessEntityID (INTEGER)
  Column: DepartmentID (SMALLINT)
  Column: ShiftID (TINYINT)
  Column: StartDate (DATE)
  Column: EndDate (DATE)
  Column: ModifiedDate (DATETIME)

Schema: HumanResources, Table: EmployeePayHistory, Number of Columns: 5
  Column: BusinessEntityID (INTEGER)
  Column: RateChangeDate (DATETIME)
  Column: Rate (MONEY)
  Column: PayFrequency (TINYINT)
  Column: ModifiedDate (DATETIME)

Schema: HumanResources, Table: JobCandidate, Number of Columns: 4
  Column: JobCandidateID (INTEGER)
  Column: BusinessEntityID (INTEGER)
  Column: Resume (XML)
  Column: ModifiedDate (DATETIME)

Schema: HumanResources, Table: Shift, Number of Columns: 5
  Column: ShiftID (TINYINT)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: StartTime (TIME)
  Column: EndTime (TIME)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: Address, Number of Columns: 9
  Column: AddressID (INTEGER)
  Column: AddressLine1 (NVARCHAR(60) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: AddressLine2 (NVARCHAR(60) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: City (NVARCHAR(30) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: StateProvinceID (INTEGER)
  Column: PostalCode (NVARCHAR(15) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: SpatialLocation (NULL)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: AddressType, Number of Columns: 4
  Column: AddressTypeID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: BusinessEntity, Number of Columns: 3
  Column: BusinessEntityID (INTEGER)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: BusinessEntityAddress, Number of Columns: 5
  Column: BusinessEntityID (INTEGER)
  Column: AddressID (INTEGER)
  Column: AddressTypeID (INTEGER)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: BusinessEntityContact, Number of Columns: 5
  Column: BusinessEntityID (INTEGER)
  Column: PersonID (INTEGER)
  Column: ContactTypeID (INTEGER)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: ContactType, Number of Columns: 3
  Column: ContactTypeID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: CountryRegion, Number of Columns: 3
  Column: CountryRegionCode (NVARCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: EmailAddress, Number of Columns: 5
  Column: BusinessEntityID (INTEGER)
  Column: EmailAddressID (INTEGER)
  Column: EmailAddress (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: Password, Number of Columns: 5
  Column: BusinessEntityID (INTEGER)
  Column: PasswordHash (VARCHAR(128) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: PasswordSalt (VARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: Person, Number of Columns: 13
  Column: BusinessEntityID (INTEGER)
  Column: PersonType (NCHAR(2) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: NameStyle (BIT)
  Column: Title (NVARCHAR(8) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: FirstName (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: MiddleName (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: LastName (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Suffix (NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: EmailPromotion (INTEGER)
  Column: AdditionalContactInfo (XML)
  Column: Demographics (XML)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: PersonPhone, Number of Columns: 4
  Column: BusinessEntityID (INTEGER)
  Column: PhoneNumber (NVARCHAR(25) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: PhoneNumberTypeID (INTEGER)
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: PhoneNumberType, Number of Columns: 3
  Column: PhoneNumberTypeID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Person, Table: StateProvince, Number of Columns: 8
  Column: StateProvinceID (INTEGER)
  Column: StateProvinceCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CountryRegionCode (NVARCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: IsOnlyStateProvinceFlag (BIT)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: TerritoryID (INTEGER)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: CountryRegionCurrency, Number of Columns: 3
  Column: CountryRegionCode (NVARCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CurrencyCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: CreditCard, Number of Columns: 6
  Column: CreditCardID (INTEGER)
  Column: CardType (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CardNumber (NVARCHAR(25) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ExpMonth (TINYINT)
  Column: ExpYear (SMALLINT)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: Currency, Number of Columns: 3
  Column: CurrencyCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: CurrencyRate, Number of Columns: 7
  Column: CurrencyRateID (INTEGER)
  Column: CurrencyRateDate (DATETIME)
  Column: FromCurrencyCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ToCurrencyCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: AverageRate (MONEY)
  Column: EndOfDayRate (MONEY)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: Customer, Number of Columns: 7
  Column: CustomerID (INTEGER)
  Column: PersonID (INTEGER)
  Column: StoreID (INTEGER)
  Column: TerritoryID (INTEGER)
  Column: AccountNumber (VARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: MontyPython, Number of Columns: 2
  Column: Sketch (VARCHAR COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Length (VARCHAR COLLATE "SQL_Latin1_General_CP1_CI_AS")

Schema: Sales, Table: PersonCreditCard, Number of Columns: 3
  Column: BusinessEntityID (INTEGER)
  Column: CreditCardID (INTEGER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesOrderDetail, Number of Columns: 11
  Column: SalesOrderID (INTEGER)
  Column: SalesOrderDetailID (INTEGER)
  Column: CarrierTrackingNumber (NVARCHAR(25) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: OrderQty (SMALLINT)
  Column: ProductID (INTEGER)
  Column: SpecialOfferID (INTEGER)
  Column: UnitPrice (MONEY)
  Column: UnitPriceDiscount (MONEY)
  Column: LineTotal (NUMERIC(38, 6))
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesOrderHeader, Number of Columns: 26
  Column: SalesOrderID (INTEGER)
  Column: RevisionNumber (TINYINT)
  Column: OrderDate (DATETIME)
  Column: DueDate (DATETIME)
  Column: ShipDate (DATETIME)
  Column: Status (TINYINT)
  Column: OnlineOrderFlag (BIT)
  Column: SalesOrderNumber (NVARCHAR(25) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: PurchaseOrderNumber (NVARCHAR(25) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: AccountNumber (NVARCHAR(15) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CustomerID (INTEGER)
  Column: SalesPersonID (INTEGER)
  Column: TerritoryID (INTEGER)
  Column: BillToAddressID (INTEGER)
  Column: ShipToAddressID (INTEGER)
  Column: ShipMethodID (INTEGER)
  Column: CreditCardID (INTEGER)
  Column: CreditCardApprovalCode (VARCHAR(15) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CurrencyRateID (INTEGER)
  Column: SubTotal (MONEY)
  Column: TaxAmt (MONEY)
  Column: Freight (MONEY)
  Column: TotalDue (MONEY)
  Column: Comment (NVARCHAR(128) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesOrderHeaderSalesReason, Number of Columns: 3
  Column: SalesOrderID (INTEGER)
  Column: SalesReasonID (INTEGER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesPerson, Number of Columns: 9
  Column: BusinessEntityID (INTEGER)
  Column: TerritoryID (INTEGER)
  Column: SalesQuota (MONEY)
  Column: Bonus (MONEY)
  Column: CommissionPct (SMALLMONEY)
  Column: SalesYTD (MONEY)
  Column: SalesLastYear (MONEY)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesPersonQuotaHistory, Number of Columns: 5
  Column: BusinessEntityID (INTEGER)
  Column: QuotaDate (DATETIME)
  Column: SalesQuota (MONEY)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

C:\Users\marya\AppData\Local\Temp\ipykernel_2540\1858082475.py:4: SAWarning:

Did not recognize type 'hierarchyid' of column 'OrganizationNode'

C:\Users\marya\AppData\Local\Temp\ipykernel_2540\1858082475.py:4: SAWarning:

Did not recognize type 'geography' of column 'SpatialLocation'

Schema: Sales, Table: SalesReason, Number of Columns: 4
  Column: SalesReasonID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ReasonType (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesTaxRate, Number of Columns: 7
  Column: SalesTaxRateID (INTEGER)
  Column: StateProvinceID (INTEGER)
  Column: TaxType (TINYINT)
  Column: TaxRate (SMALLMONEY)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesTerritory, Number of Columns: 10
  Column: TerritoryID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CountryRegionCode (NVARCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Group (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: SalesYTD (MONEY)
  Column: SalesLastYear (MONEY)
  Column: CostYTD (MONEY)
  Column: CostLastYear (MONEY)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SalesTerritoryHistory, Number of Columns: 6
  Column: BusinessEntityID (INTEGER)
  Column: TerritoryID (INTEGER)
  Column: StartDate (DATETIME)
  Column: EndDate (DATETIME)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: ShoppingCartItem, Number of Columns: 6
  Column: ShoppingCartItemID (INTEGER)
  Column: ShoppingCartID (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Quantity (INTEGER)
  Column: ProductID (INTEGER)
  Column: DateCreated (DATETIME)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SpecialOffer, Number of Columns: 11
  Column: SpecialOfferID (INTEGER)
  Column: Description (NVARCHAR(255) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: DiscountPct (SMALLMONEY)
  Column: Type (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Category (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: StartDate (DATETIME)
  Column: EndDate (DATETIME)
  Column: MinQty (INTEGER)
  Column: MaxQty (INTEGER)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: SpecialOfferProduct, Number of Columns: 4
  Column: SpecialOfferID (INTEGER)
  Column: ProductID (INTEGER)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Sales, Table: Store, Number of Columns: 6
  Column: BusinessEntityID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: SalesPersonID (INTEGER)
  Column: Demographics (XML)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Purchasing, Table: ProductVendor, Number of Columns: 11
  Column: ProductID (INTEGER)
  Column: BusinessEntityID (INTEGER)
  Column: AverageLeadTime (INTEGER)
  Column: StandardPrice (MONEY)
  Column: LastReceiptCost (MONEY)
  Column: LastReceiptDate (DATETIME)
  Column: MinOrderQty (INTEGER)
  Column: MaxOrderQty (INTEGER)
  Column: OnOrderQty (INTEGER)
  Column: UnitMeasureCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Purchasing, Table: PurchaseOrderDetail, Number of Columns: 11
  Column: PurchaseOrderID (INTEGER)
  Column: PurchaseOrderDetailID (INTEGER)
  Column: DueDate (DATETIME)
  Column: OrderQty (SMALLINT)
  Column: ProductID (INTEGER)
  Column: UnitPrice (MONEY)
  Column: LineTotal (MONEY)
  Column: ReceivedQty (DECIMAL(8, 2))
  Column: RejectedQty (DECIMAL(8, 2))
  Column: StockedQty (DECIMAL(9, 2))
  Column: ModifiedDate (DATETIME)

Schema: Purchasing, Table: PurchaseOrderHeader, Number of Columns: 13
  Column: PurchaseOrderID (INTEGER)
  Column: RevisionNumber (TINYINT)
  Column: Status (TINYINT)
  Column: EmployeeID (INTEGER)
  Column: VendorID (INTEGER)
  Column: ShipMethodID (INTEGER)
  Column: OrderDate (DATETIME)
  Column: ShipDate (DATETIME)
  Column: SubTotal (MONEY)
  Column: TaxAmt (MONEY)
  Column: Freight (MONEY)
  Column: TotalDue (MONEY)
  Column: ModifiedDate (DATETIME)

Schema: Purchasing, Table: ShipMethod, Number of Columns: 6
  Column: ShipMethodID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ShipBase (MONEY)
  Column: ShipRate (MONEY)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Purchasing, Table: Vendor, Number of Columns: 8
  Column: BusinessEntityID (INTEGER)
  Column: AccountNumber (NVARCHAR(15) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CreditRating (TINYINT)
  Column: PreferredVendorStatus (BIT)
  Column: ActiveFlag (BIT)
  Column: PurchasingWebServiceURL (NVARCHAR(1024) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: BillOfMaterials, Number of Columns: 9
  Column: BillOfMaterialsID (INTEGER)
  Column: ProductAssemblyID (INTEGER)
  Column: ComponentID (INTEGER)
  Column: StartDate (DATETIME)
  Column: EndDate (DATETIME)
  Column: UnitMeasureCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: BOMLevel (SMALLINT)
  Column: PerAssemblyQty (DECIMAL(8, 2))
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: Culture, Number of Columns: 3
  Column: CultureID (NCHAR(6) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: Document, Number of Columns: 14
  Column: DocumentNode (NULL)
  Column: DocumentLevel (SMALLINT)
  Column: Title (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Owner (INTEGER)
  Column: FolderFlag (BIT)
  Column: FileName (NVARCHAR(400) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: FileExtension (NVARCHAR(8) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Revision (NCHAR(5) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ChangeNumber (INTEGER)
  Column: Status (TINYINT)
  Column: DocumentSummary (NVARCHAR COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Document (VARBINARY)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: Illustration, Number of Columns: 3
  Column: IllustrationID (INTEGER)
  Column: Diagram (XML)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: Location, Number of Columns: 5
  Column: LocationID (SMALLINT)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CostRate (SMALLMONEY)
  Column: Availability (DECIMAL(8, 2))
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: Product, Number of Columns: 25
  Column: ProductID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ProductNumber (NVARCHAR(25) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: MakeFlag (BIT)
  Column: FinishedGoodsFlag (BIT)
  Column: Color (NVARCHAR(15) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: SafetyStockLevel (SMALLINT)
  Column: ReorderPoint (SMALLINT)
  Column: StandardCost (MONEY)
  Column: ListPrice (MONEY)
  Column: Size (NVARCHAR(5) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: SizeUnitMeasureCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: WeightUnitMeasureCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Weight (DECIMAL(8, 2))
  Column: DaysToManufacture (INTEGER)
  Column: ProductLine (NCHAR(2) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Class (NCHAR(2) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Style (NCHAR(2) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ProductSubcategoryID (INTEGER)
  Column: ProductModelID (INTEGER)
  Column: SellStartDate (DATETIME)
  Column: SellEndDate (DATETIME)
  Column: DiscontinuedDate (DATETIME)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductCategory, Number of Columns: 4
  Column: ProductCategoryID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductCostHistory, Number of Columns: 5
  Column: ProductID (INTEGER)
  Column: StartDate (DATETIME)
  Column: EndDate (DATETIME)
  Column: StandardCost (MONEY)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductDescription, Number of Columns: 4
  Column: ProductDescriptionID (INTEGER)
  Column: Description (NVARCHAR(400) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductDocument, Number of Columns: 3
  Column: ProductID (INTEGER)
  Column: DocumentNode (NULL)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductInventory, Number of Columns: 7
  Column: ProductID (INTEGER)
  Column: LocationID (SMALLINT)
  Column: Shelf (NVARCHAR(10) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Bin (TINYINT)
  Column: Quantity (SMALLINT)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductListPriceHistory, Number of Columns: 5
  Column: ProductID (INTEGER)
  Column: StartDate (DATETIME)
  Column: EndDate (DATETIME)
  Column: ListPrice (MONEY)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductModel, Number of Columns: 6
  Column: ProductModelID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: CatalogDescription (XML)
  Column: Instructions (XML)
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductModelIllustration, Number of Columns: 3
  Column: ProductModelID (INTEGER)
  Column: IllustrationID (INTEGER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductModelProductDescriptionCulture, Number of Columns: 4
  Column: ProductModelID (INTEGER)
  Column: ProductDescriptionID (INTEGER)
  Column: CultureID (NCHAR(6) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductPhoto, Number of Columns: 6
  Column: ProductPhotoID (INTEGER)
  Column: ThumbNailPhoto (VARBINARY)
  Column: ThumbnailPhotoFileName (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: LargePhoto (VARBINARY)
  Column: LargePhotoFileName (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductProductPhoto, Number of Columns: 4
  Column: ProductID (INTEGER)
  Column: ProductPhotoID (INTEGER)
  Column: Primary (BIT)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductReview, Number of Columns: 8
  Column: ProductReviewID (INTEGER)
  Column: ProductID (INTEGER)
  Column: ReviewerName (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ReviewDate (DATETIME)
  Column: EmailAddress (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Rating (INTEGER)
  Column: Comments (NVARCHAR(3850) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ProductSubcategory, Number of Columns: 5
  Column: ProductSubcategoryID (INTEGER)
  Column: ProductCategoryID (INTEGER)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: rowguid (UNIQUEIDENTIFIER)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: ScrapReason, Number of Columns: 3
  Column: ScrapReasonID (SMALLINT)
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: TransactionHistory, Number of Columns: 9
  Column: TransactionID (INTEGER)
  Column: ProductID (INTEGER)
  Column: ReferenceOrderID (INTEGER)
  Column: ReferenceOrderLineID (INTEGER)
  Column: TransactionDate (DATETIME)
  Column: TransactionType (NCHAR(1) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Quantity (INTEGER)
  Column: ActualCost (MONEY)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: TransactionHistoryArchive, Number of Columns: 9
  Column: TransactionID (INTEGER)
  Column: ProductID (INTEGER)
  Column: ReferenceOrderID (INTEGER)
  Column: ReferenceOrderLineID (INTEGER)
  Column: TransactionDate (DATETIME)
  Column: TransactionType (NCHAR(1) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Quantity (INTEGER)
  Column: ActualCost (MONEY)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: UnitMeasure, Number of Columns: 3
  Column: UnitMeasureCode (NCHAR(3) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: Name (NVARCHAR(50) COLLATE "SQL_Latin1_General_CP1_CI_AS")
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: WorkOrder, Number of Columns: 10
  Column: WorkOrderID (INTEGER)
  Column: ProductID (INTEGER)
  Column: OrderQty (INTEGER)
  Column: StockedQty (INTEGER)
  Column: ScrappedQty (SMALLINT)
  Column: StartDate (DATETIME)
  Column: EndDate (DATETIME)
  Column: DueDate (DATETIME)
  Column: ScrapReasonID (SMALLINT)
  Column: ModifiedDate (DATETIME)

Schema: Production, Table: WorkOrderRouting, Number of Columns: 12
  Column: WorkOrderID (INTEGER)
  Column: ProductID (INTEGER)
  Column: OperationSequence (SMALLINT)
  Column: LocationID (SMALLINT)
  Column: ScheduledStartDate (DATETIME)
  Column: ScheduledEndDate (DATETIME)
  Column: ActualStartDate (DATETIME)
  Column: ActualEndDate (DATETIME)
  Column: ActualResourceHrs (DECIMAL(9, 4))
  Column: PlannedCost (MONEY)
  Column: ActualCost (MONEY)
  Column: ModifiedDate (DATETIME)

C:\Users\marya\AppData\Local\Temp\ipykernel_2540\1858082475.py:4: SAWarning:

Did not recognize type 'hierarchyid' of column 'DocumentNode'

Next. I show the relationship between tables.  The query shows the relationships between tables based on primary & foreign keys defined in the database.
* A child table is dependent on the parent table. It contains a foreign key that references the primary key of the parent table.

In [ ]:
#  for visualizing table relationships in our database
relationship_sql = """
SELECT 
OBJECT_NAME(fk.referenced_object_id) AS ParentTable,
OBJECT_NAME(fk.parent_object_id) AS ChildTable
FROM sys.foreign_keys fk
"""

relationship_df = pd.read_sql(sql=relationship_sql, con=connection)  #reads the result of a SQL query into a pandas DataFrame
print(relationship_df)

       ParentTable             ChildTable
0    StateProvince                Address
1          Product        BillOfMaterials
2          Product        BillOfMaterials
3      UnitMeasure        BillOfMaterials
4          Address  BusinessEntityAddress
..             ...                    ...
85  BusinessEntity                 Vendor
86         Product              WorkOrder
87     ScrapReason              WorkOrder
88        Location       WorkOrderRouting
89       WorkOrder       WorkOrderRouting

[90 rows x 2 columns]

I have now explored the database "AdventureWorks2022" , which consists of five schemas and each schema focuses on a specific business area: HumanResources (6 tables), Person (13 tables), Sales (20 tables), Purchasing (5 tables), and Production (25 tables). I examined the structure of the database, identifying the number, names, and data types of the columns in each table. Additionally, I explored the relationships between tables to understand how different business areas are interconnected.

I continue with focusing on "Sales" schema which has 20 tables: 
'CountryRegionCurrency', 'CreditCard', 'Currency', 'CurrencyRate', 'Customer', 'MontyPython', 'PersonCreditCard', 'SalesOrderDetail', 'SalesOrderHeader', 'SalesOrderHeaderSalesReason', 'SalesPerson', 'SalesPersonQuotaHistory', 'SalesReason', 'SalesTaxRate', 'SalesTerritory', 'SalesTerritoryHistory', 'ShoppingCartItem', 'SpecialOffer', 'SpecialOfferProduct', 'Store'.

I will look at 'SalesPerson' table which has 9 columns:

In [392]:
salesperson_columns = """SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'SalesPerson'
"""
pd.read_sql(sql=salesperson_columns, con=connection)

        COLUMN_NAME
0  BusinessEntityID
1       TerritoryID
2        SalesQuota
3             Bonus
4     CommissionPct
5          SalesYTD
6     SalesLastYear
7           rowguid
8      ModifiedDate

Then I search the number of raws (number of salesperson) in the table (SalesPerson):

In [347]:
row_count = """SELECT COUNT (*) AS Row_Count FROM Sales.SalesPerson"""
df_row_count = pd.read_sql(sql= row_count, con=connection)
df_row_count

   Row_Count
0         17

Then, I will look at the top 5 rows of the 'SalesPerson' table:

In [348]:
df_SalesPerson = pd.read_sql(sql="SELECT * from Sales.SalesPerson", con=connection)
df_SalesPerson.head(5)

,BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid,ModifiedDate
0,274,NaN,NaN,0.0,0.000,5.596976e+05,0.000000e+00,48754992-9EE0-4C0E-8C94-9451604E3E02,2010-12-28
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1E0A7274-3064-4F58-88EE-4C6586C87169,2011-05-24
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0,2011-05-24
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-BFEC-4242-874D-423162C3F567,2011-05-24
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7A0AE1AB-B283-40F9-91D1-167ABF06D720,2011-05-24

I would like to summarize the information about salespersons, including their name, job title, hire date, territory, sales from last year, and current year sales, which are distributed across four tables, into a single table."

In [394]:
# I use "LEFT JOIN" for the "Sales.SalesTerritory" to ensures all salespersons (even those without a territory) are included.
salesperson_information = """
SELECT 
Sales.SalesPerson.BusinessEntityID,
Person.Person.FirstName,
Person.Person.LastName,
HumanResources.Employee.JobTitle, 
HumanResources.Employee.HireDate, 
Sales.SalesTerritory.Name AS TerritoryName,
Sales.SalesPerson.SalesLastYear,
Sales.SalesPerson.SalesYTD 
FROM Sales.SalesPerson
INNER JOIN Person.Person 
ON Sales.SalesPerson.BusinessEntityID = Person.Person.BusinessEntityID 
INNER JOIN HumanResources.Employee
ON Person.Person.BusinessEntityID = HumanResources.Employee.BusinessEntityID
LEFT JOIN Sales.SalesTerritory 
ON Sales.SalesPerson.TerritoryID = Sales.SalesTerritory.TerritoryID
"""

df_salesperson_information = pd.read_sql(sql=salesperson_information, con=connection)
df_salesperson_information

,BusinessEntityID,FirstName,LastName,JobTitle,HireDate,TerritoryName,SalesLastYear,SalesYTD
0,274,Stephen,Jiang,North American Sales Manager,2011-01-04,None,0.000000e+00,5.596976e+05
1,275,Michael,Blythe,Sales Representative,2011-05-31,Northeast,1.750406e+06,3.763178e+06
2,276,Linda,Mitchell,Sales Representative,2011-05-31,Southwest,1.439156e+06,4.251369e+06
3,277,Jillian,Carson,Sales Representative,2011-05-31,Central,1.997186e+06,3.189418e+06
4,278,Garrett,Vargas,Sales Representative,2011-05-31,Canada,1.620277e+06,1.453719e+06
5,279,Tsvi,Reiter,Sales Representative,2011-05-31,Southeast,1.849641e+06,2.315186e+06
6,280,Pamela,Ansman-Wolfe,Sales Representative,2011-05-31,Northwest,1.927059e+06,1.352577e+06
7,281,Shu,Ito,Sales Representative,2011-05-31,Southwest,2.073506e+06,2.458536e+06
8,282,José,Saraiva,Sales Representative,2011-05-31,Canada,2.038235e+06,2.604541e+06
9,283,David,Campbell,Sales Representative,2011-05-31,Northwest,1.371635e+06,1.573013e+06
10,284,Tete,Mensa-Annan,Sales Representative,2012-09-30,Northwest,0.000000e+00,1.576562e+06
11,285,Syed,Abbas,Pacific Sales Manager,2013-03-14,None,0.000000e+00,1.725245e+05
12,286,Lynn,Tsoflias,Sales Representative,2013-05-30,Australia,2.278549e+06,1.421811e+06
13,287,Amy,Alberts,European Sales Manager,2012-04-16,None,0.000000e+00,5.199059e+05
14,288,Rachel,Valdez,Sales Representative,2013-05-30,Germany,1.307950e+06,1.827067e+06
15,289,Jae,Pak,Sales Representative,2012-05-30,United Kingdom,1.635823e+06,4.116871e+06
16,290,Ranjit,Varkey Chudukatil,Sales Representative,2012-05-30,France,2.396540e+06,3.121616e+06

The table above shows 17 salespersons, including 3 Sales Managers and 14 Sales Representatives, active across North America, Pacific, and Europe. 

All were hired between 2011 and 2013. 

There are 4 salespersons with 0 sales in the previous year!

In [396]:
df_zero_sales = df_salesperson_information[df_salesperson_information['SalesLastYear'] == 0]
print("Salespersons with no sales last year:")
df_zero_sales

Salespersons with no sales last year:

,BusinessEntityID,FirstName,LastName,JobTitle,HireDate,TerritoryName,SalesLastYear,SalesYTD
0,274,Stephen,Jiang,North American Sales Manager,2011-01-04,None,0.0,5.596976e+05
10,284,Tete,Mensa-Annan,Sales Representative,2012-09-30,Northwest,0.0,1.576562e+06
11,285,Syed,Abbas,Pacific Sales Manager,2013-03-14,None,0.0,1.725245e+05
13,287,Amy,Alberts,European Sales Manager,2012-04-16,None,0.0,5.199059e+05

I summarized the information of the 4 salespersons with zero sales last year in the table above. Among them, 3 are Sales Managers and 1 is a Sales Representative. I included the HireDate column to check if they were recently hired, but none of them are new salespersons.

### Fråga 2. Gör en statistisk analys av valfri del av datan. Den skall innehålla åtminstone ett konfidensintervall. Hur tolkar du resultaten?

To begin, I would like to compare the sales performance of each salesperson over the past two years.

In [397]:
twoyears_sales = """
SELECT
Sales.SalesPerson.BusinessEntityID,
Sales.SalesPerson.SalesLastYear AS Sales_LastYear,
Sales.SalesPerson.SalesYTD AS Sales_CurrentYear
FROM Sales.SalesPerson 
"""


df_twoyears_sales = pd.read_sql(sql=twoyears_sales, con=connection)

df_melted = pd.melt(
    df_twoyears_sales,
    id_vars=['BusinessEntityID'], 
    value_vars=['Sales_LastYear', 'Sales_CurrentYear'],
    var_name='Year',
    value_name='Sales'
)


fig = px.bar(
    df_melted,
    x='BusinessEntityID',
    y='Sales',
    color='Year',
    barmode='group',  
    text='Sales',
    title='Salesperson Performance Comparison:',
    labels={'BusinessEntityID': 'Salesperson ID', 'Sales': 'Sales Amount'},
)

fig.update_layout(
    xaxis=dict(
        tickmode='linear',  # To be sure that ticks are evenly spaced
        tickangle=45   # Rotates tick labels by 45 degrees  
    )
)

fig.show()

The bar chart comparison of sales performance shows that 14 out of 17 salespersons had better results in the current year.

The following table shows the total sales across all salespersons for the last year and the current Year-to-Date (including the 4 salespersons with no sales last year):

In [398]:
total_sales = """
SELECT 
SUM(SalesLastYear) AS TotalSalesLastYear,
SUM(SalesYTD) AS TotalSalesYTD
FROM Sales.SalesPerson
"""

df_total_sales = pd.read_sql(sql=total_sales, con=connection)
print('Total sales (including the 4 salespersons with no sales last year):')
df_total_sales

Total sales (including the 4 salespersons with no sales last year):

   TotalSalesLastYear  TotalSalesYTD
0        2.368596e+07   3.627759e+07

The following table shows the total sales across all salespersons for the last year and the current Year-to-Date (excluding the 4 salespersons with no sales last year):

In [399]:
total_sales_filtered = """
SELECT 
SUM(SalesLastYear) AS TotalSalesLastYear,
SUM(SalesYTD) AS TotalSalesYTD
FROM Sales.SalesPerson
WHERE SalesLastYear > 0
"""

df_total_sales_filtered = pd.read_sql(sql=total_sales_filtered, con=connection)
print('Total sales (excluding the 4 salespersons with no sales last year):')
df_total_sales_filtered

Total sales (excluding the 4 salespersons with no sales last year):

   TotalSalesLastYear  TotalSalesYTD
0        2.368596e+07   3.344890e+07

The following pie chart illustrates the sales performance of each salesperson (contribution) for the previous year:

In [400]:
contribution_query = """
SELECT 
BusinessEntityID,
SalesLastYear
FROM Sales.SalesPerson
"""
df_contribution_query = pd.read_sql(sql=contribution_query, con=connection)



fig = px.pie(
df_contribution_query,
names= 'BusinessEntityID', 
values='SalesLastYear',    
title='Sales Performance for the previous year:'
)


fig.show()

This pie chart shows that last year’s sales contributions were fairly evenly distributed.

Here is the salesperson with the highest sales for the previous year:

In [401]:
top_salesperson = """
SELECT 
Sales.SalesPerson.BusinessEntityID,
Person.Person.FirstName,
Person.Person.LastName,
Sales.SalesPerson.SalesLastYear
FROM Sales.SalesPerson
INNER JOIN Person.Person
ON Sales.SalesPerson.BusinessEntityID = Person.Person.BusinessEntityID 
WHERE Sales.SalesPerson.SalesLastYear = (SELECT MAX(SalesLastYear) FROM Sales.SalesPerson)
"""

df_top_salesperson = pd.read_sql(sql=top_salesperson, con=connection)
print('The salesperson with the highest sales for the previous year:')
df_top_salesperson

The salesperson with the highest sales for the previous year:

   BusinessEntityID FirstName           LastName  SalesLastYear
0               290    Ranjit  Varkey Chudukatil   2.396540e+06

The following pie chart illustrates the sales performance of each salesperson (contribution) for the Current Year-to-Date:

In [402]:
contribution_query = """
SELECT 
BusinessEntityID,
SalesYTD
FROM Sales.SalesPerson
"""
df_contribution_query = pd.read_sql(sql=contribution_query, con=connection)



fig = px.pie(
df_contribution_query,
names= 'BusinessEntityID', 
values='SalesYTD',    
title='Sales Performance for the Current Year-to-Date:'
)


fig.show()

This pie chart shows that this year’s sales contributions were not evenly distributed and mainly relied on a few top performers.

Here is the salesperson with the highest sales for the current Year-to-Date:

In [403]:
top_salesperson = """
SELECT 
Sales.SalesPerson.BusinessEntityID,
Person.Person.FirstName,
Person.Person.LastName,
Sales.SalesPerson.SalesYTD
FROM Sales.SalesPerson
INNER JOIN Person.Person
ON Sales.SalesPerson.BusinessEntityID = Person.Person.BusinessEntityID 
WHERE Sales.SalesPerson.SalesYTD = (SELECT MAX(SalesYTD) FROM Sales.SalesPerson)
"""

df_top_salesperson = pd.read_sql(sql=top_salesperson, con=connection)
print('The salesperson with the highest sales for the current Year-to-Date:')
df_top_salesperson

The salesperson with the highest sales for the current Year-to-Date:

   BusinessEntityID FirstName  LastName      SalesYTD
0               276     Linda  Mitchell  4.251369e+06

I analyzed total sales for both the last year and the current year, including and excluding these 4 salespersons. In both scenarios, I observed that the current year's sales were higher. To test whether this difference is statistically significant, I formulated the following hypotheses:

Null Hypothesis H0: 𝜇1 - 𝜇2 = 0 (The mean sales from the last year and the current year are equal.)

Alternative Hypothesis H1: 𝜇1 - 𝜇2 ≠ 0 (The mean sales from the last year and the current year are not equal)

Using a t-test (95% confidence interval, df=24), I tested this hypothesis:

In [358]:
sales_query = """
SELECT 
    SalesLastYear, 
    SalesYTD
FROM Sales.SalesPerson
WHERE SalesLastYear > 0
"""

df_sales = pd.read_sql(sql=sales_query, con=connection)


last_year_sales = df_sales['SalesLastYear']
current_year_sales = df_sales['SalesYTD']

p_valu = stats.ttest_ind(last_year_sales, current_year_sales)


# Calculate the 95% confidence interval for the mean difference
ci_low, ci_high = stats.t.interval(0.95, len(last_year_sales) - 1, loc=last_year_sales.mean() - current_year_sales.mean(), scale=stats.sem(last_year_sales - current_year_sales))


print(f"p-value = {p_value}")
print(f"Confidence Interval: ({ci_low}, {ci_high})")

p-value = TtestResult(statistic=-2.4729006144032692, pvalue=0.02087355450762742, df=24.0)
Confidence Interval: (-1422507.6247831408, -79482.8575707043)

The p-value is less than 0.05 (p-value = 0.02) and the confidence interval does not include 0. Therefore, there is sufficient evidence to reject the null hypothesis (H0), indicating a statistically significant difference between last year’s sales and the current year’s sales, even when excluding the four salespersons with zero sales from the previous year.

### Fråga 3. Analysera datan och resultaten du tagit fram. Vilka slutsatser och rekommendationer kan du ge?

The company has 17 salespersons, including 3 Sales Managers and 14 Sales Representatives. All were hired between 2011 and 2013, meaning they have comparable levels of experience within the company. Among these, 4 salespersons (3 Sales Managers and 1 Sales Representative) recorded no sales last year. Since they are not new employees, this raises concerns about their performance or potential issues with data accuracy. Since 3 of the 4 salespersons with no sales last year were Sales Managers, it could be that they were not directly involved in selling. Therefore, it’s important to investigate whether the scope of responsibilities for Sales Managers was consistent between last year and this year.

A bar chart comparison of sales performance showed that 14 out of 17 salespersons had better results in the current year. Total sales for the current year were higher than the previous year in both scenarios (whether the 4 salespersons with no sales last year were included or excluded). A t-test confirmed that this difference is statistically significant, even when excluding the 4 non-performing salespersons. 

Pie charts showed that last year’s sales contributions were more evenly distributed, while this year’s sales relied more on top performers. The analysis also highlighted the top-performing salespersons for each year.

Recommendations:
This analysis indicates an overall improvement in sales performance, but further investigations are recommended:

1. The 4 salespersons with no sales last year should be reviewed to determine if this is related to their task responsibilities, a performance issue, or a data error.
2. Develop strategies to retain and further motivate the company’s top-performing salespersons.
3. Identify the factors behind this year’s improved performance, such as strategic changes or market conditions.
4. Look into differences in performance between territories to help with strategic decisions.

### - Executive summary

The company’s sales performance across North America, Pacific, and Europe improved significantly this year, with 14 out of 17 salespersons increasing their sales. Total sales for the current year were higher than last year, even after excluding 4 salespersons who recorded no sales last year. Three of these 4 non-performing salespersons were Sales Managers, suggesting they may not have been directly involved in selling. To build on these findings, it’s important to review the responsibilities of Sales Managers to ensure they align with current goals. Additionally, understanding the factors behind this year’s improved performance can help replicate success.

This year, sales were driven largely by top performers, whereas last year’s sales were more evenly distributed. Therefore, developing strategies to retain and motivate top performers will support sustained growth. Furthermore, leveraging the experience of top-performing salespersons and utilizing their education or specialized skills could provide valuable insights.

Investigating regional performance differences could also help refine strategic decisions. These steps will strengthen the company’s sales framework and drive continued growth.

### The date of the oral presentation of the code: 2025-01-03

### - Självvärdering

1. Utmaningar du haft under arbetet samt hur du hanterat dem.

Efter att ha utforskat databasen var en av de största utmaningarna att bestämma vilka scheman och tabeller som skulle användas för mer ingående datanalyser. Det tog lite tid att hitta de bästa områdena att fokusera på. Till slut valde jag att arbeta främst med Sales-schemat eftersom det är viktigt för företagets ekonomi.  


2. Vilket betyg du anser att du skall ha och varför.

Jag anser att jag förtjänar ett VG-betyg eftersom jag effektivt analyserade data och drog meningsfulla insikter. Jag gjorde välinformerade val gällande schema- och tabellval, och stödde mina resonemang med tydliga och logiska förklaringar.



3. Tips du hade gett till dig själv i början av kursen nu när du slutfört den.

Jag följde kursplanen och läste kursboken, samt gjorde föreslagna uppgifter. Jag gjorde även en LinkedInkurs. Om jag hade haft tid hade jag tagit de två andra LinkedInkurserna också.